*{
    box-sizing: border-box;
}
footer{
    background-color: #2196f3;
    padding: 40px 16px 32px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    background-color: #2196f3;
}
#ingresar{
    padding: 0 16px;
}
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #9E9E9E;
}
.banner{
    position: relative;
    top: 80px;
    left: -80px;
}
.block{
    display: block;
}
.boton-flotante{
    position: fixed;
    left: 80%;
    top: 90%;
}
.boton-flotante img{
    top: 30%;
    left: 30%;
}
.br10{
    border-radius: 10px;
}
.brightness{
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
}
.cambiar-pregunta-texto{
    width: 16%;
    position: absolute;
    left: 60%;
    top: 167px;
    background-color: #2196f3;
    color: white;
    text-align: center;
    border-radius: 8px;
}
.center{
    margin: 0 auto;
}
.clear{
    clear: both;
}
.contenedor{
    position: relative;
    top: 90px;
}
.contenedor-tabla{
    position: relative;
    top: 80px;
    border-radius: 25px;
}
.course-container{
    justify-content: center;
}
.entrada-tabla{
    border-top: 1px solid #BDBDBD;
}
.error{
    display: block;
    position: relative;
    top: -20px;
    font-size: 0.8em;
    color: #f44336;
}
.flex{
    display:flex;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.fs0-5{
    font-size: 0.5em;
}
.fs0-8{
    font-size: 0.8em;
}
.fs1-1{
    font-size: 1.1em;
}
.fs2{
    font-size: 2em;
}
.fs1-3{
    font-size: 1.3em;
}
.fs1-5{
    font-size: 1.5em;
}
.hidden{
    display: none;
}
.input-field input[type=text]:focus,  .input-field input[type=password]:focus, .input-field input[type=textarea]:focus{
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
.logo{
    font-family: 'Shrikhand', cursive;
    font-size: 1.7em;
}
.login{
    width: 20%;
    position: absolute;
    top: 50px;
    background-color: white;
    left: 75%;
    z-index:100;
    padding: 0 24px 16px;
}
.m20-0{
    margin: 20px 0;
}
.margin-card{
    margin: 0 0.5rem 24px 0.5rem;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.mensaje-error{
    color: #f44336;
    margin-top: 20px;
}
.monedas{
    padding-right: 0.5em;
    position: relative;
    top: 3px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top:20px;
}
.mt-40{
    margin-top: 40px;
}
.no-shadow{
    box-shadow: none;
}
.opciones-pregunta{
    display: flex;
    flex-direction: column;
}
.opciones-curso{
    padding: 5px 0px;
    margin-right: 10px;
}
.opcion-pregunta-wrapper{
    width: 30%;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.paragrafo{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
}
.posicion-iconos-opciones-respuesta{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: -1px;
}
.posicion-mensaje{
    position: relative;
    left: -6%;
}
.picker__date-display, .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color: #2196F3;
}
.picker__weekday-display{
    background-color: #2962ff;
    font-weight: 400;
}
.picker__close, .picker__today, .picker__day.picker__day--today{
    color: #2196f3;
}
.p0-32{
    padding: 0 32px;
}
.p0-1em{
    padding: 0 1em;
}
.p-card{
    padding: 24px 0.5rem;
}
.prev-img{
    width: 64px;
    height: 64px;
    margin-right: 16px;
}
.progress{
    height: 23px;
    margin: 0;
    border-radius: 10px;
    background-color: #03a9f4;
}
.progress_bar{
    height: 25px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    width: 83%;
    margin-bottom: 30px;
}
.p10-0{
    padding: 10px 0;
}
.p24-0{
    padding: 24px 0;
}
.pr-32{
    padding-right: 32px;
}
.pt-24{
    padding-top: 24px;
}
.pt-32{
    padding-top: 32px;
}
.pt-40{
    padding-top: 40px;
}
.p0-5p{
    padding: 0 5%;
}
.relative{
    position: relative;
}
.submit{
    width: 50%;
    border-radius: 8px;
    padding: 8px 0;
    border-style: none;
    background-color: #2196F3;
}
.submit:hover, #ingresar:hover{
    background-color: #42a5f5;
}
.settings{
    width: 15%;
    position: relative;
    left: 77%;
    top: 57px;
    position: absolute;
    z-index: 100;
}
.title{
    display: flex;
    justify-content: space-between;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #2196f3;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #2196f3;
}
input[type="submit"]{
    width: 100%;
    height: 100%;
}
.boton-realizar{
    width: auto;
    padding: 8px;
}
.ver-respuesta-texto{
    width: 16%;
    background-color: #2196f3;
    text-align: center;
    border-radius: 8px;
    color: white;
    position: absolute;
    left: 60%;
    top: 212px;
}
.w0{
    width: 0;
}
.w10{
    width: 10%;
}
.w20{
    width: 20%;
}
.w30{
    width: 30%;
}
.w40{
    width: 40%;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}
.w70{
    width: 70%;
}
.w80{
    width: 80%;
}
.w90{
    width: 90%;
}
.w100{
    width: 100%;
}